

/* General Styles ----------------------------------------- */



@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}

* {
    font-family: Helvetica, Arial, sans-serif;
}



/* Element Styles ----------------------------------------- */



body {
    padding: 20px;
}

h1 {
    display: inline-block;
    font-weight: 300;
}

hr {
    margin: 20px 0px 20px 0px;
}

button {
    height: 50px;
    width: 50px;
    margin: 3px;
}

input {
    height: 45px;
    width: 163px;
    margin: 3px;
}

input, textarea {
    background-color: #c8ccbc;
    font-family: 'digital-7';
    font-size: 28px;
  }

li {
    font-family: 'digital-7';
    font-size: 30px;
    padding: 10px;
}

/* #id Styles ----------------------------------------- */



#calc-inner {
    margin: 20px;
    text-align: center;
}

#calc-outer {
    background-color: #2e2e2e;
    border: 1px black solid;
    border-radius: 15px;
    width: 290px;
    margin: auto;
    display:inline-block;
}

#calc-title {
    font-family: 'digital-7';
    font-size: 30px;
    color: #c8ccbc;
    padding: 20px, 0px, 20px, 0px;
    border-top: 2px solid #c8ccbc;
    border-bottom: 2px solid #c8ccbc;
}

#result {
    font-family: 'digital-7';
    font-size: 50px;
}

#btn-clear-history {
    height: auto;
    width: 333px;
    padding: 10px;
}

#history-container {
    display: inline-block;
    width: 333px;
    padding: 10px 0px 0px 20px;
    position: absolute;
    top: 20px;
}

/* .class Styles ----------------------------------------- */

.selected {
    background-color: #c8ccbc;
    border-radius: 10px;
}